

{
  -webkit-user-select: none;
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	//background-image: url('img/htmlbg.png')
}

	

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

 webview {
    display:inline-flex;
    width:688px;
    height:580px;
  }
 webview.hide {
    flex: 0 1;
    width: 688px;
    height: 580px;
  }


 .nav-header {
	  font-weight: bold;
  }

#webview-container {
    width: 900px;
    height:580px;
    position:relative;
}

#app-view {
    width: 100%;
    height:100%;
}

#dict-view {
	width: 0px;
	height: 0px;
}

#button-bar {
    position:absolute;
    top:0;
	right:0;
    float:right;
    width:20%;
    height:40px;
	display:none;
    
}

#button-back {
	top: 0;
	float:left;
	height:100%;
	width: 33%;
	margin-top:5px;
	margin-right:5px;
	position:relative;
	display:inherit;
	background-color: green;
}

#button-card {
	top: 0;
	float:left;
	height:100%;
	width:33%;
	margin-top:5px;
	margin-left:5px;
	position:relative;
	display:inherit;
	background-color:blue;
}

#dialog-description {
	width:100px;
}

#show-open-dialog {
	display: none;
}




